<nav>
  <ul class="nav--list">
    <li class="nav--listItem">
      <a href="/">Shop</a>
    </li>
    <% if (isAuthenticated) { %>
      <li class="nav--listItem">
        <a href="/cart">Cart </a>
      </li>
  
      <li class="nav--listItem">
        <a href="/orders">Orders</a>
      </li>
    <% } %>
    
    <% if (user.role === 'admin' || user.role === 'vendor' ) { %>
      <li class="nav--listItem">
        <a href="/add-product">Add Item</a>
      </li>
    <% } %>
    

    <% if (user.role === 'admin') { %>
      <li class="nav--listItem">
        <a href="/user/basic">Users</a>
      </li>
      <li class="nav--listItem">
        <a href="/user/vendor">Vendors</a>
      </li>
    <% } %>
    

    <li class="nav--listItem spacer"></li>

    <% if (!isAuthenticated) { %>

      <li class="nav--listItem">
        <a href="/login">Login</a>
      </li>

      <li class="nav--listItem">
        <a href="/signup">Signup</a>
      </li>

    <% } else { %>

      <li class="nav--listItem">
        <form action="/logout" method="post">
          <button type="submit" class="btnlog">Logout</button>
        </form>
      </li>

    <% } %>
  </ul>
</nav>
