<nav>
  <ul class="nav--list">
    <li class="nav--listItem">
      <a href="/">Items</a>
    </li>

    <li class="nav--listItem">
      <a href="/orders">Orders</a>
    </li>

    <li class="nav--listItem">
      <a href="/add-products">Add Items</a>
    </li>

    <li class="nav--listItem">
      <a href="/search">Search</a>
    </li>

    <li class="nav--listItem spacer"></li>

    <li class="nav--listItem">
      <a href="/login">Login</a>
    </li>
    <li class="nav--listItem">
      <a href="/signup">Signup</a>
    </li>

    <li class="nav--listItem">
      <form action="/logout" method="post">
        <button type="submit">Logout</button>
      </form>
    </li>
  </ul>
</nav>
